div.content {
    margin-left: 950px;
    margin-top: 150px;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 800px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #56baed;
    overflow-x: hidden;
    padding-top: 20px;
}

.form {
    width: 400px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
}

input[type=text], input[type=password] {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 16pt;
}

.button {
    background-color: #56baed;
    color: white;
    padding: 15px 80px;
    margin:0px 100px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    
}

.usernameicon,.passwordicon {
    max-width: 20px;
    max-height: 20px;
    margin: 0px 10px;
}

.resetpass {
    margin: 0px 85px;
}

.resetpass:hover {
    color: #56baed;
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    text-align: center;
}