div.content {
    margin-left: 800px;
    padding: 1px 16px;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 800px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #32a8a6;
    overflow-x: hidden;
    padding-top: 20px;
}

.button {
    height: 30px;
    width: 100px;
    background-color: chartreuse;
    border-radius: 5px;
}